---
title: A New Item
---
.icons.inline-block
  %a{href: "https://github.com/variousauthors"}
    %i.fa.fa-github-square.fa-lg
  %a{href: "https://twitter.com/arrogantgamer"}
    %i.fa.fa-twitter-square.fa-lg
  %a{href: "http://stackoverflow.com/users/29182/ziggy"}
    %i.fa.fa-stack-exchange.fa-lg
  .spacer
  %a{href: "mailto:arrogant.gamer@gmail.com"}
    %i.fa.fa-envelope-square.fa-lg
  %a{href: "tel:604-600-9053"}
    %i.fa.fa-phone-square.fa-lg
