@import 'content/css/custom.css.scss';

.highlights {
    @extend .full-width;

    .content-section {
        vertical-align: top;


        h2 {
            @extend .push-left;
            @extend .push-half-bottom;

            color: $h2-color;
        }
    }

    .bottom {
        @extend .push-top;
        @extend .content-section;
    }

    .left {
        @extend .half-width;
        @extend .content-section;
        @extend .inline-block;
    }

    .right {
        @extend .half-width;
        @extend .content-section;
        @extend .inline-block;
    }

    .experience-item {
        @extend .push-left;
        @extend .push-half-bottom;
        @extend .soft;

        //background-color: $experience-background;
        border: 1px dashed $experience-background;
        border-radius: 5px;

        .theme-image {
            display: inline-block;
        }

        .action-statements {
            @extend .push-left;

            vertical-align: top;
            display: inline-block;

            small {
                color: $base01;
            }

            ul {
                list-style: none;

                li {
                    @extend .push-bottom;
                }
            }
        }

        .organization {
            @extend .push-left;
            @extend .push-bottom;
            color: $primary;
            display: inline-block;
        }

        .timeline {
            @extend .push-left;
            @extend .push-bottom;
            color: $secondary;
            display: inline-block;
        }
    }
}

